<aside class="sidebar-container">
  <div class="sidebar-profile">
    <div class="sidebar-avatar"></div>
  </div>
  <nav class="sidebar-nav">
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="sidebar-link">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    <a mat-list-item routerLink="/brands/mis-marcas" routerLinkActive="active" class="sidebar-link">
      <mat-icon>apps</mat-icon>
      <span>Mis marcas</span>
    </a>
    <!-- Ajusta las siguientes rutas según tus rutas reales -->
    <a mat-list-item routerLink="posts/mis-marcas" routerLinkActive="active" class="sidebar-link">
      <mat-icon>add</mat-icon>
      <span>Crear post</span>
    </a>
    <a mat-list-item routerLink="/configuracion" routerLinkActive="active" class="sidebar-link">
      <mat-icon>settings</mat-icon>
      <span>Configuración</span>
    </a>
  </nav>
  <button mat-list-item class="sidebar-link logout-btn" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</aside>
